  /* Hover effect for each part */
  .medicare-part {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
    height: 100%; /* make all inner cards same height */
  }

  .medicare-part:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  /* Ensure all columns stretch to the same height */
  .row-equal > [class*='col-'] {
    display: flex;
  }

  .row-equal .medicare-part {
    flex: 1; /* make inner cards take full column height */
  }




  .medicare-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-top:5px solid #70c515;
  }

  .medicare-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    
  }



  /* Hover effect for benefit rows */
  .benefit-row {
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    background-color: #ffffff; /* default white */
  }

  .benefit-row:hover {
    background-color: #e6f7e6; /* light green on hover */
    transform: translateY(-3px);
  }

  .benefit-row:hover i {
    color: #218838; /* darker green icon on hover */
  }





   .step-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }

  .step-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 767px) {
    .step-card {
      margin-bottom: 20px;
    }
  }





  
  